body {
background-color:#fff;
}

header
{
text-decoration:underline;
text-align: right
}


a{ 
color:#000; 
} 
a:hover{ 
color:36f; 
font-weight:bold;
font-size: 120%
} 

a:link
{
text-decoration:none;
font-family:Arial, Helvetica, sans-serif
}